* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  /* so we can use rems */
  font-size: 1vw;
}

body * {
  /* should apply to btns and inputs now */
  font-family: 'Quicksand', sans-serif;
}

.alt-font {
  font-family: 'Questrial', sans-serif;
}

.container {
  margin-left: 184px !important;
  margin-right: 184px !important;
}

#main-navigation ul * {
  display: inline-block;
}

#main-navigation ul {
  font-size: 0;
}

#main-navigation li a {
  font-size: calc(0.7rem + 6px);
  text-decoration: none;
  padding: 18px 32px;
  border-left: 1px solid rgba(40, 58, 215, 0.1);
  color: rgba(40, 58, 215, 0.8);
}

#main-navigation li a:hover {
  background-color: #4252f2;
  color: #fff;
}

#main-navigation li a.last-nav {
  border-right: 1px solid rgba(40, 58, 215, 0.1);
}

/* Landing Section */

#landing-section {
  background-image: url(images/skyline.png);
  background-size: cover;
  background-position: center top;
}

#landing-section div {
  padding-bottom: 18em;
}

#landing-section * {
  color: #fff;
}

#landing-section h1 {
  font-size: 5rem;
  padding-top: 2em;
}

#landing-section p {
  width: calc(30% + 170px);
  line-height: 150%;
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1em;
  margin-bottom: 1em;
}

#landing-section button {
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 500px;
  border: none;
  background-color: #fff;
  color: #283ad7;
  padding: 0.4em 1.8em;
  outline: none;
}

#landing-section button:hover {
  opacity: 0.6;
}
